NEXT_PUBLIC_SUPABASE_URL=https://dxafcolgareahmveiclr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4YWZjb2xnYXJlYWhtdmVpY2xyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5OTY5NDQsImV4cCI6MjA5MDU3Mjk0NH0.zFhCPTVTbS91a8O_9VUuT6pGYA9m7ZNVFOiPvkb4GUk
